name: Build and Deploy Web App

on:
  push:
  pull_request:

jobs:
  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "latest"


      - name: Setup Emscripten SDK
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install 5.0.1
          ./emsdk activate 5.0.1

      - name: Configure
        run: |
          source ./emsdk/emsdk_env.sh
          mkdir cmake-build
          cd cmake-build
          emcmake cmake .. -DCMAKE_BUILD_TYPE=Release


      - name: Build C++
        working-directory: ${{ github.workspace }}/cmake-build
        run: |
          source ../emsdk/emsdk_env.sh
          make

      - name: Build Web App Dist
        working-directory: ${{ github.workspace }}/web/
        run: |
          npm i
          npm run build

      - name: Upload Web App Dist
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/web/dist

  deploy-web:
    if: github.ref == 'refs/heads/main'
    needs: build-web

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
